<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apitable.space.mapper.LabsApplicantMapper">
    <select id="selectUserFeaturesByApplicant" resultType="java.lang.String">
        SELECT feature_key
        FROM ${tablePrefix}labs_applicant
        WHERE applicant IN
        <foreach collection="applicants" index="index" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
        AND is_deleted = 0
    </select>

    <select id="selectFeatureKeyByType" resultType="java.lang.String">
        SELECT feature_key
        FROM ${tablePrefix}labs_features
        WHERE type = #{type}
          AND is_deleted = 0
    </select>

    <select id="selectApplicantAndFeatureKey"
            resultType="com.apitable.space.entity.LabsApplicantEntity">
        SELECT *
        FROM ${tablePrefix}labs_applicant
        WHERE applicant = #{applicant}
          AND feature_key = #{featureKey}
          AND is_deleted = 0
    </select>
</mapper>
